# Projeto 7
## projeto da aula de análise de dados

In [3]:
%pip install -q -U wartermark

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement wartermark (from versions: none)
ERROR: No matching distribution found for wartermark

In [ ]:
# Importando as bibliotecas necessárias #
import re
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [6]:
%reload_ext watermark
%watermark -a "Italo Gonçalves"

Author: Italo Gonçalves

In [7]:
# carregando os dados #
df = pd.read_csv('C:\\Users\\Italo\\Documents\\Projeto 7\\dataset.csv')

In [ ]:
# verificando os dados #
df.head(10)

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222167,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
5,35754,82637451,Caucasian,Male,[50-60),?,2,1,2,3,...,No,Steady,No,No,No,No,No,No,Yes,>30
6,55842,84259809,Caucasian,Male,[60-70),?,3,1,2,4,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
7,63768,114882984,Caucasian,Male,[70-80),?,1,1,7,5,...,No,No,No,No,No,No,No,No,Yes,>30
8,12522,48330783,Caucasian,Female,[80-90),?,2,1,4,13,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
9,15738,63555939,Caucasian,Female,[90-100),?,3,3,4,12,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [ ]:
# verificando as colunas do dataset e se exite valores ausentes #
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      101766 non-null  object
 3   gender                    101766 non-null  object
 4   age                       101766 non-null  object
 5   weight                    101766 non-null  object
 6   admission_type_id         101766 non-null  int64
 7   discharge_disposition_id  101766 non-null  int64
 8   admission_source_id       101766 non-null  int64
 9   time_in_hospital          101766 non-null  int64
 10  payer_code                101766 non-null  object
 11  medical_specialty         101766 non-null  object
 12  num_lab_procedures        101766 non-null  int64
 13  num_procedures            101766 non-null  int64
 14  num_medications           101766 non-null  int64
 15  number_outpatient         101766 non-null  int64
 16  number_emergency          101766 non-null  int64
 17  number_inpatient          101766 non-null  int64
 18  diag_1                    101766 non-null  object
 19  diag_2                    101766 non-null  object
 20  diag_3                    101766 non-null  object
 21  number_diagnoses          101766 non-null  int64
 22  max_glu_serum             5346 non-null    object
 23  A1Cresult                 17018 non-null   object
 24  metformin                 101766 non-null  object
 25  repaglinide               101766 non-null  object
 26  nateglinide               101766 non-null  object
 27  chlorpropamide            101766 non-null  object
 28  glimepiride               101766 non-null  object
 29  acetohexamide             101766 non-null  object
 30  glipizide                 101766 non-null  object
 31  glyburide                 101766 non-null  object
 32  tolbutamide               101766 non-null  object
 33  pioglitazone              101766 non-null  object
 34  rosiglitazone             101766 non-null  object
 35  acarbose                  101766 non-null  object
 36  miglitol                  101766 non-null  object
 37  troglitazone              101766 non-null  object
 38  tolazamide                101766 non-null  object
 39  examide                   101766 non-null  object
 40  citoglipton               101766 non-null  object
 41  insulin                   101766 non-null  object
 42  glyburide-metformin       101766 non-null  object
 43  glipizide-metformin       101766 non-null  object
 44  glimepiride-pioglitazone  101766 non-null  object
 45  metformin-rosiglitazone   101766 non-null  object
 46  metformin-pioglitazone    101766 non-null  object
 47  change                    101766 non-null  object
 48  diabetesMed               101766 non-null  object
 49  readmitted                101766 non-null  object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

In [13]:
df.describe()

,encounter_id,patient_nbr,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
count,1.017660e+05,1.017660e+05,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000
mean,1.652016e+08,5.433040e+07,2.024006,3.715642,5.754437,4.395987,43.095641,1.339730,16.021844,0.369357,0.197836,0.635566,7.422607
std,1.026403e+08,3.869636e+07,1.445403,5.280166,4.064081,2.985108,19.674362,1.705807,8.127566,1.267265,0.930472,1.262863,1.933600
min,1.252200e+04,1.350000e+02,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,8.496119e+07,2.341322e+07,1.000000,1.000000,1.000000,2.000000,31.000000,0.000000,10.000000,0.000000,0.000000,0.000000,6.000000
50%,1.523890e+08,4.550514e+07,1.000000,1.000000,7.000000,4.000000,44.000000,1.000000,15.000000,0.000000,0.000000,0.000000,8.000000
75%,2.302709e+08,8.754595e+07,3.000000,4.000000,7.000000,6.000000,57.000000,2.000000,20.000000,0.000000,0.000000,1.000000,9.000000
max,4.438672e+08,1.895026e+08,8.000000,28.000000,25.000000,14.000000,132.000000,6.000000,81.000000,42.000000,76.000000,21.000000,16.000000

In [15]:
# verificando se existe valores com o caractere "?" no dataset #
df.isin(['?']).sum()

encounter_id                    0
patient_nbr                     0
race                         2273
gender                          0
age                             0
weight                      98569
admission_type_id               0
discharge_disposition_id        0
admission_source_id             0
time_in_hospital                0
payer_code                  40256
medical_specialty           49949
num_lab_procedures              0
num_procedures                  0
num_medications                 0
number_outpatient               0
number_emergency                0
number_inpatient                0
diag_1                         21
diag_2                        358
diag_3                       1423
number_diagnoses                0
max_glu_serum                   0
A1Cresult                       0
metformin                       0
repaglinide                     0
nateglinide                     0
chlorpropamide                  0
glimepiride                     0
acetohexamide                   0
glipizide                       0
glyburide                       0
tolbutamide                     0
pioglitazone                    0
rosiglitazone                   0
acarbose                        0
miglitol                        0
troglitazone                    0
tolazamide                      0
examide                         0
citoglipton                     0
insulin                         0
glyburide-metformin             0
glipizide-metformin             0
glimepiride-pioglitazone        0
metformin-rosiglitazone         0
metformin-pioglitazone          0
change                          0
diabetesMed                     0
readmitted                      0
dtype: int64

In [ ]:
# verificando valores únicos para cada coluna do dataset para temos certeza de que não tem outros caracteres especiais nos dados #:
for col in list(df.columns):
    # Obtendo os valores únicos de cada coluna
    unique_values = df[col].unique()

    # Se o número de valores únicos for menor que 20, imprima os valores
    # Caso contrário, imprima o número de valores exclusivos
    if len(unique_values) < 20:
        print("\n")
        print(f"Valores únicos em {col}: {unique_values}")
    else:
        print("\n")
        print(f"Número de valores únicos em {col}: {len(unique_values)}")

Número de valores únicos em encounter_id: 101766


Número de valores únicos em patient_nbr: 71518


Valores únicos em race: ['Caucasian' 'AfricanAmerican' '?' 'Other' 'Asian' 'Hispanic']


Valores únicos em gender: ['Female' 'Male' 'Unknown/Invalid']


Valores únicos em age: ['[0-10)' '[10-20)' '[20-30)' '[30-40)' '[40-50)' '[50-60)' '[60-70)'
 '[70-80)' '[80-90)' '[90-100)']


Valores únicos em weight: ['?' '[75-100)' '[50-75)' '[0-25)' '[100-125)' '[25-50)' '[125-150)'
 '[175-200)' '[150-175)' '>200']


Valores únicos em admission_type_id: [6 1 2 3 4 5 8 7]


Número de valores únicos em discharge_disposition_id: 26


Valores únicos em admission_source_id: [ 1  7  2  4  5  6 20  3 17  8  9 14 10 22 11 25 13]


Valores únicos em time_in_hospital: [ 1  3  2  4  5 13 12  9  7 10  6 11  8 14]


Valores únicos em payer_code: ['?' 'MC' 'MD' 'HM' 'UN' 'BC' 'SP' 'CP' 'SI' 'DM' 'CM' 'CH' 'PO' 'WC' 'OT'
 'OG' 'MP' 'FR']


Número de valores únicos em medical_specialty: 73


Número de valores únicos em num_lab_procedures: 118


Valores únicos em num_procedures: [0 5 1 6 2 3 4]


Número de valores únicos em num_medications: 75


Número de valores únicos em number_outpatient: 39


Número de valores únicos em number_emergency: 33


Número de valores únicos em number_inpatient: 21


Número de valores únicos em diag_1: 717


Número de valores únicos em diag_2: 749


Número de valores únicos em diag_3: 790


Valores únicos em number_diagnoses: [ 1  9  6  7  5  8  3  4  2 16 12 13 15 10 11 14]


Valores únicos em max_glu_serum: [nan '>300' 'Norm' '>200']


Valores únicos em A1Cresult: [nan '>7' '>8' 'Norm']


Valores únicos em metformin: ['No' 'Steady' 'Up' 'Down']


Valores únicos em repaglinide: ['No' 'Up' 'Steady' 'Down']


Valores únicos em nateglinide: ['No' 'Steady' 'Down' 'Up']


Valores únicos em chlorpropamide: ['No' 'Steady' 'Down' 'Up']


Valores únicos em glimepiride: ['No' 'Steady' 'Down' 'Up']


Valores únicos em acetohexamide: ['No' 'Steady']


Valores únicos em glipizide: ['No' 'Steady' 'Up' 'Down']


Valores únicos em glyburide: ['No' 'Steady' 'Up' 'Down']


Valores únicos em tolbutamide: ['No' 'Steady']


Valores únicos em pioglitazone: ['No' 'Steady' 'Up' 'Down']


Valores únicos em rosiglitazone: ['No' 'Steady' 'Up' 'Down']


Valores únicos em acarbose: ['No' 'Steady' 'Up' 'Down']


Valores únicos em miglitol: ['No' 'Steady' 'Down' 'Up']


Valores únicos em troglitazone: ['No' 'Steady']


Valores únicos em tolazamide: ['No' 'Steady' 'Up']


Valores únicos em examide: ['No']


Valores únicos em citoglipton: ['No']


Valores únicos em insulin: ['No' 'Up' 'Steady' 'Down']


Valores únicos em glyburide-metformin: ['No' 'Steady' 'Down' 'Up']


Valores únicos em glipizide-metformin: ['No' 'Steady']


Valores únicos em glimepiride-pioglitazone: ['No' 'Steady']


Valores únicos em metformin-rosiglitazone: ['No' 'Steady']


Valores únicos em metformin-pioglitazone: ['No' 'Steady']


Valores únicos em change: ['No' 'Ch']


Valores únicos em diabetesMed: ['No' 'Yes']


Valores únicos em readmitted: ['NO' '>30' '<30']

In [22]:
# Verificando qual a porcentagem de valores com o caractere "?" em cada coluna do dataset #:
for col in df.columns:
    if df[col].dtype == 'object':
     if df[col][df[col] == '?'].count() > 0:
        print('\nColuna', col, 'tem', df[col][df[col] == '?'].count(), 'valores com o caractere "?"')
        print('Porcentagem:', round(df[col][df[col] == '?'].count() / df[col].count() * 100, 2), '%')

Coluna race tem 2273 valores com o caractere "?"
Porcentagem: 2.23 %

Coluna weight tem 98569 valores com o caractere "?"
Porcentagem: 96.86 %

Coluna payer_code tem 40256 valores com o caractere "?"
Porcentagem: 39.56 %

Coluna medical_specialty tem 49949 valores com o caractere "?"
Porcentagem: 49.08 %

Coluna diag_1 tem 21 valores com o caractere "?"
Porcentagem: 0.02 %

Coluna diag_2 tem 358 valores com o caractere "?"
Porcentagem: 0.35 %

Coluna diag_3 tem 1423 valores com o caractere "?"
Porcentagem: 1.4 %